REACT_APP_API_KEY=API_KEY_FOR_BACKEND
REACT_APP_MASTER_API_KEY=MASTER_API_KEY_FRONTEND
REACT_APP_API_KEY=DATA_FROM_FIREBASE
REACT_APP_AUTH_DOMAIN=DATA_FROM_FIREBASE
REACT_APP_PROJECT_ID=DATA_FROM_FIREBASE
REACT_APP_STORAGE=DATA_FROM_FIREBASE
REACT_APP_MESSAGING=DATA_FROM_FIREBASE
REACT_APP_APP_ID=DATA_FROM_FIREBASE
REACT_APP_MEASUREMENT_ID=DATA_FROM_FIREBASE