* {
    margin: 0;
}

.main-answer {
    background: #F7F7F7;
    margin: 0;
    min-height: 100vh;
    white-space: pre-wrap;
    padding-bottom: 50px;
    padding-top: 80px;
}

.navbar-answer {
    position: fixed;
    top: 0;
    height: auto;
    width: 100vw;
    background: #FFF;
    box-shadow: 1px 0px 10px rgba(55, 55, 55, 0.1);
    font-size: 17px;
    color: #555555;
    padding: 18px;
    padding-left: 25px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
}

.lightText-answer {
    color: #F22222;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    display: inline;
}

.lightTextSmall {
    color: #555555;
    font-size: 14px;
    position: block;
    display: block;
}

.questionTaker {
    height: auto;
    width: 90vw;
    min-width: 300px;
    background: #FFF;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: #121212;
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0px;
    border-radius: 5px;
    box-shadow: 0px 2px 2px grey;
    margin-bottom: 60px;
}

.inputQuestion {
    min-width: 100%;
    height: auto;
    border: 0.8px;
    border-radius: 4px;
    font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding: 20px;
    line-height: normal;
    background-color: #F5F5F5;
    color: #282828;
    outline: none;
    margin-top: 20px;
}

.post {
    margin-top: 6px;
    padding: 5px;
    width: 80px;
    color: #FFF;
    background-color: #3222FF;
    outline: none;
    font-weight: 900;
    font-size: 17px;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    margin-left: 90%;
}

.questionDisplay {
    height: auto;
    width: 90vw;
    min-width: 300px;
    background: #FFF;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: #121212;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    border-radius: 5px;
}

.Links {
    color: black;
    text-decoration: none;
    color: #111;
}

.Links:hover {
    color: #111;
}